@import "../../index.css";

.register_main {
  padding: 3rem 7rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.register_aside_container {
  width: 35%;
  background-color: var(--primary-blue-color);
  padding: 2.5rem;
  border-radius: 1rem;
  color: white;
}

.register_aside_brandname {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 2.4px;
}

.register_aside_slogan {
  font-weight: 500;
  font-size: 1.875rem;
  margin-top: 40px;
}

.register_aside_description {
  margin-top: 24px;
}

.register_aside_review_container {
  padding: 1rem;
  border-radius: 0.75rem;
  margin-top: 40px;
  background-color: rgb(30, 64, 175);
}

.register_aside_review_container section {
  margin-top: 0.5rem;
  text-align: end;
}

.register_aside_review_container section h4 {
  font-size: 1.125rem;
}

.register_aside_review_container section p {
  color: var(--primary-gray-color);
}

.register_form_container {
  width: calc(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.register_form_container h2 {
  font-size: 2.25rem;
  font-weight: 500;
}

.register_signup_form,
.register_login_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register_signup_form label,
.register_login_form label {
  color: var(--primary-gray-color);
}

.register_signup_form input,
.register_login_form input {
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-weight: 400;
  margin-top: 6px;
  border-radius: 0.375rem;
  border: 1px solid var(--primary-gray-color);
  transition: 0.3s ease;
}

.register_signup_form input:hover,
.register_login_form input:hover {
  border: 1px solid var(--primary-blue-color);
}

.register_signup_form input:focus,
.register_login_form input:focus {
  outline: 1px solid var(--primary-blue-color);
}

.register_signup_form button,
.register_login_form button {
  margin-top: 1rem;
  padding: 1.1rem;
  border-radius: 0.375rem;
  border: none;
  background-color: var(--primary-blue-color);
  color: white;
  letter-spacing: 0.8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_login_form .register_demo_user {
  margin-top: 1rem;
  color: var(--primary-gray-color);
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.register_login_form span:hover {
  color: var(--primary-blue-color);
}

.register_question {
  color: var(--primary-gray-color);
}

.register_question span {
  color: var(--primary-blue-color);
  cursor: pointer;
}

@media only screen and (max-width: 1025px) {
  .register_main {
    height: 100vh;
  }

  .register_aside_container {
    width: 40%;
  }
}

@media only screen and (max-width: 820px) {
  .register_main {
    height: 100vh;
  }

  .register_aside_container {
    display: none;
  }

  .register_form_container {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .register_main {
    padding: 1rem;
    height: 100vh;
  }
}
