@import "../../index.css";

.details-main-container {
  width: 80%;
  height: 100%;
}

.details-buttons-container {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.details-buttons-container button {
  padding: 0.6rem 1rem;
  border: none;
  letter-spacing: 0.8px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.details-buttons-container > :first-child {
  background-color: rgb(16, 186, 16);
}

.details-buttons-container > :nth-child(2) {
  background-color: rgb(216, 22, 22);
}
