@import "../../index.css";

.job-details-main {
  background-color: rgb(238, 239, 243);
  padding: 0rem 1rem;
  height: calc(100vh - 4.5321rem);
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.job-details-main::-webkit-scrollbar {
  display: none;
}

.job-details {
  height: 100%;
  width: 80%;
}

.job-details-main-card {
  background-color: white;
  border-radius: 1.2rem;
  padding: 1.25rem;
  margin-bottom: 2rem;
}

.job-details-description-card {
  background-color: white;
  border-radius: 1.2rem;
  padding: 1.25rem;
  margin-bottom: 2rem;
}

.job-deatils-hr-line {
  margin-top: 1rem;
  border-color: rgba(236, 236, 241, 0.5);
}

.job-details-description-card h4 {
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.8px;
}

.job-details-description-card p {
  margin-top: 1rem;
  color: var(--primary-gray-color);
}
