@import "../../index.css";

.add-jobs-main {
  background-color: rgb(238, 239, 243);
  padding: 0rem 2rem;
  height: calc(100vh - 4.5321rem);
  padding-top: 2rem;
  overflow: auto;
}

.add-jobs-main::-webkit-scrollbar {
  display: none;
}

.add-job-form {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
  row-gap: 1rem;
}

.add-job-form div {
  display: flex;
  flex-direction: column;
}

.add-job-form div input {
  margin-bottom: 1rem;
  padding: 1.2rem;
  font-weight: 400;
  margin-top: 6px;
  border-radius: 0.375rem;
  border: 1px solid var(--primary-gray-color);
  transition: 0.3s ease;
}

.add-job-form div input:hover {
  border: 1px solid var(--primary-blue-color);
}

.add-job-form div input:focus {
  outline: 1px solid var(--primary-blue-color);
}

.add-job-form div label {
  color: var(--primary-gray-color);
}
