@import "../../index.css";

.navbar_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5321rem;
  padding: 0rem 2rem;
  border-bottom-width: 1px;
  border-bottom-color: rgb(229, 231, 235);
  border-bottom-style: solid;
}

.navbar_main h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.navbar_main h4 span {
  font-weight: 500;
}

.navbar_profile_pic_container {
  background-image: url("../../assets/p9.webp");
  height: 3.5rem;
  width: 3.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.navbar_menu_btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 820px) {
  .navbar_menu_btn {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .navbar_main {
    padding: 0 1rem;
  }

  .navbar_main h4 {
    font-size: 1rem;
  }
}
